body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-image: url(pexels-photo-268533.JPEG);
  background-attachment: fixed;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite; 
}
@keyframes example{
  25%{
    background-image: url(mountains-under-mist-morning-amazing-260nw-1725825019.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  55%{
    background-image: url(ooo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  90%{
     background-repeat: no-repeat;
    background-size: cover;
    background-image: url(pexels-photo-414612.JPEG);
  }
}

a {
  color: white;
}
.burgerLabel {
  margin-right: 0px;
}
 .burger{
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 2px;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: black;
  box-shadow: 4px 1px 4px 4px red;
  width: 100%;
  z-index: 3;
  color: gray;
  border: 1px solid black;
  height: 70px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: gray;
  float: right;
   
}

nav ul li {
  display: inline-block;
  text-align: center;
}
.menu {
  height: 30px;
}

nav ul li a {
  display: block;
  text-decoration: none;
  height: 20px;
  width: 120px;
  font-size: 20px;
  color: #000000;
  padding: 25px 0px;
  transition: 0.6s ease;
}

nav .logo {
  display: block;
  float: left;
  font-size: 3em;
  padding: 10px 20px;
  text-decoration: none;
  animation-name: makani;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes makani{
  20%{
    color: red;
  }
  40%{
    color: blue;
  }
  60%
  {
    color: pink;
    color: pink
  }
  80%{
    color: gray;
  }
}

ul li a:hover {
  background-color: pink;
  color: white;
}
.burgerLabel {

  display: none;
  position: relative;
  top: 10%;
}

#hide {
  display: none;
}
#title {
  text-align: center;
  text-transform: uppercase;
  color: gray;
  margin-top: 160px;
  background: lightblue;
  margin: 10% 20% 20% 20%;
  padding: 5% 2%;
  font-size: 30px;
  animation: puskar-1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes puskar-1{
  0%{ background-color: red;
    transform: rotateX(90deg);
   }
   25%{ 
    background-color: blue;
   }
   25%{ 
    background-color: blue;
    }
    100%{
      background-color: pink;
    }
}
@media (max-width: 1200px) {
  .burgerLabel {
    display: block;
    float: right;
  }
}
@media (max-width: 1201px) {
  ul li {
    flex-direction: column;
  }
  .menu {
    text-align: center;
    width: 100%;
    height: 2200px;
    background-attachment: fixed;
    display:  none;
    float: right;
   overflow: hidden;
  }
  .menu ul {
    background-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 1px solid black;
    background-attachment: fixed;
  }
  .menu ul li:hover {
    background-color: blue;
    color: white;
    width: 100%;
  }
  .menu ul li a {
    width: 100%;
  }
  .menu a {
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 0px;
    font-size: 25px;
    text-decoration: none;
    width: 100%;
    margin-top: 20px;
  }
  #hide:checked + .menu {
    display: block;
  }
  #title  {
  padding: 0px;
  margin-top: 200px;
  font-size: 30px;
  overflow: hidden;
  margin-right: 20%;
}
}


/*portfolio*/


#first-div {
   background-color: #0d2303;
   margin-top: 5%;
   overflow: hidden;
}
.second-div {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  background-color: #0d2303;
  width: 100%;
  position: relative;
  top: 5%;
  height: auto;
  text-align: center;
}
.first-year-photo {
  grid-column-start: 1;
  grid-column-end: 4;
  height: 400px;
  background-color: lightgray;
  width: 550px;
  position: relative;
  left: 34%;
  margin: 2%;
  font-size: 20px;
}
.second-year-photo {
  background-color: lightgray;
  height: 300px;
  width: 300px;
  margin: 6%;
  margin-left: 25%;
  font-size: 20px; 
}
.third-year-photo {
  background-color: lightgray;
  height: 300px;
  width: 300px;
  margin: 6%;
  font-size: 20px;
  margin-left: 22%; 
}.first-selfi-photo{
  background-color: lightgray;
  height: 300px;
  width: 300px;
  margin: 6%;
  font-size: 20px;
  margin-left: 30%; 
}


.tour-photo{
  background-color: gray;
  height: 400px;
  width: 600px;
  margin-left: 10%;
  font-size: 20px;
}
.group-photo{
  background-color: gray;
  height: 370px;
  width: 500px;
  margin-left: 80%;
  font-size: 20px;
}
.rojan{
  height: 300px;
  background-image: url(222.PNG);
  background-size: contain; 
}
.rayan{
  height: 90px;
  width: 550px;
  background-color: green;
}
.pakas{
  height: 210px;
  background-image: url(333.PNG);
}
.whaks{
  height: 70px;
  width: 300px;
  background-color: pink;
}
.div-1{
  height: 210px;
   background-image: url(333.PNG);
}
.div-2{
  height: 70px;
  width: 300px;
  background-color: blue;
}
.div-4{
  height: 210px;
   background-image: url(333.PNG);
}
.div-5{
  height: 70px;
  width: 300px;
  background-color: pink;
}

.div-6{
  height: 400px;
  background-image: url(placeholder0.PNG);
  background-size: cover;
}
.div-7{
  height: 70px;
  width: 600px;
  background-color: pink;

}
.div-8{
  height: 300px;
  background-image: url(placeholder0.PNG);
  background-size: cover;

}
.div-9{
  height: 70px;
  width: 500px;
  background-color: pink;
}
.collection{
  width: 90%;
  height: 600px;
  background-color: ;
  margin: 5%;
   display: grid;
  grid-template-columns: 33% 33% 33%;
}
.portfolio-1{
  text-align: center;
  font-size: 70px;
 
  text-decoration: underline;
  color: red;
  animation-name: colorexchange;
  animation-duration: 7s;
}
@keyframes colorexchange{
  0%{
    color:  #0d2303;
  }
  25%{
    color: black;
  }
  50%{
    color:  #0d2303;
  }
  80%{
    color: pink;
  }

}

@keyframes portfolio-s{
  0%{
   
    color:  #0d2303;
  }
  50%{
    color: red;
  }
  100%{
    color: black;
  }
}
.collection-1{
  background-image: url(01.PNG);
 animation-name: nobita;
 background-size: cover;
background-repeat: no-repeat;
  transition-duration: 10s;
  background-size: cover;
 margin: 5%;
}
.myphto{
  color: #e7efab;
  width: 100%;
  width: 100%;
}
.myphto h1{
  margin-top: 7%;
   font-size: 50px;
}
@keyframes nobita{
  0%{
    background-color: #0d2303;
  }
  50%{
    background-color: blue;
    filter: blur(0);
  }
}
@media (max-width: 1200px){
 .second-year-photo{
  margin: 5%;
 }
 .third-year-photo{
  margin-left: 17%;
 }
  .tour-photo{
    width: 400px;

  }
  .group-photo{
    width: 350px;
  }
  .first-year-photo{
    width: 450px;
    margin-left: -2%;
  }
  .rayan{ 
  width: 450px;
  background-color: green;
}
.div-7{
  width: 400px;
}
.div-6{
   width: 400px; 
   width: 400px;
}
.div-9{
  width: 350px;
}
}
/*cv*/
.for-cv{
 display: grid;
  grid-template-columns: 32% 68%;
  /*display: flex;
  flex-direction: row;*/
  margin-top: 5px;
 
  height: 1200px;
  width: 90%;
  margin: 5%;
  box-shadow: -29px -34px 21px black;
}
.part-1{
  background-color: #fafafa;
  height: 1300px;
  width: 100%;
 position: relative;
}
.part-2{
  background-color: #9090d2;
  height: auto;
  width: 100%;
}
.own-picture{
  height: 150px;
  width: 60%;
  background-image: url(myimg.jpg);
  margin: 7%;
 /* border: 3px solid black;*/
  background-size: contain;
  background-repeat: no-repeat;
}
.for-name{
  margin-top: -20px;
  margin-left: 30px 
}
.part-1 p{
margin-top: -20px;
  margin-left: 30px 
}
.my-status{
  height: auto;
  text-align: center;
}
.profile-status p{
  margin-top: 20px;
  font-size: 20px;
}
 .maintain-margin{
  margin-top: 20px;
  text-align: start;
  font-size: 20px;
 }
 .maintain-margin{
  font-size: 20px;
 }
 .my-details{
  margin-left: 3%;
  
 }
 .cv-name h1{
  text-align: center;
  text-decoration: underline;

  color: white;
  font-size: 33px;
 }

 .flex{
  display: flex;
  flex-direction: row;
   font-size: 30px;
   justify-content: space-around;
   height: auto;
 }
 .flex a{
  color: black;
 }
 .education-1 h1{
  color: black;
  font-size: 30px;
 
 }
 .mother-1{
  font-size: 21px;
 }
 .skills{
  font-size: 21px;
 }
 .down{
  margin-top: 20px;
 }
 .experience-2{
  font-size: 21px;
 }
 .education-1{
 /*margin-left: 3%;*/
 height: 750px;
 width: 100%;
 /*background-color: blue;*/
 }
 .war-zone{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

 } 
.education-box{
  height: 750;
  width: 70%;

 /* background-color: red;*/
}
.dream{
  height: auto;
  margin-left: 5%; 
}
.dream h1{
   text-align: center;
   margin-top: -0%;
   height: 60px;
   margin-left: -20%;
}
.dream p{
  margin-left: 10%;
  font-size: 27px;
  list-style: none;
}
.mynepal{
  width: 70%;
  height: 7px;
  background-color: blue;
}
.myenglish{
  width: 70%;
  height: 7px;
  background-color: white;

}
.percent{
  width: 95%;
  background-color: blue;
  height: 7px;
}
.percent-2{
  width: 20%;
 background-color: blue;
 height: 7px;
}
.picture{
  display: grid;
  grid-template-columns: 50% 50%;
  height: 240px;
  justify-content: space-around;

 }
 .first-picture{
  background-image: url(a-young-boy-playing-football-at-field-vector-1658552.jpg);
  background-size: contain;
  background-repeat: no-repeat;
 }
 .second-picture{
  background-image: url(new-year-party.jpg);
  background-size: contain;
  background-repeat: no-repeat;
 }
 .third-picture{
  background-image: url(hip-hop-dancing.jpg);
  background-size: contain;
  background-repeat: no-repeat;
 }
 .fourth-picture{
  background-image: url(mean-shadows-374162-unsplash.jpg);
  background-size: contain;
  background-repeat: no-repeat;
 }
 .mommy h4{
  font-size: 25px;
  text-decoration: underline; 
 }
 .personal-status h1{
  text-align: center;
 }
 .personal-status p{
  text-align: start;
  font-size: 20px;
 }
 .personal-status b{
  font-size: 20px;
 }
 .mommy p{
  font-size: 20px;
 }
 .hoobies-1 p{
  font-size: 20px;
 }
 @media  (max-width: 1000px){
  .mother-1{
  font-size: 19px;
 }
 .skills{
  font-size: 19px;
 }
 .down{
  margin-top: 20px;
 }
 .experience-2{
  font-size: 19px;
 }
 .for-cv{
  height: 1450px;
 }
 .part-1{
  height: 1450px;
 }
}



#workout {
  width: 100%;
 

  display: grid;
  grid-template-columns: 70% 30%;
}
.fumm {
  background-color: black;
  margin-top: 90px;
  height: 900px;
  color: white;
 
  font-size: 18px;


 
  background-attachment: fixed;
}


.container {
  background-color: gray;
  width: 100%;
  height: 1000px;
  border-radius: 7px;
  color: white;
  margin-top: 90px;
 
}

.container h1 {
  font-size: 40px;
  color: white;
  margin-top: 100px;
}

.container h1 p {
  font-size: 25px;
}
.wwpp {
  font-size: 20px;
  text-align: center;
 
 overflow: hidden;
}


.one {
  font-size: 20px;
  position: relative;
  left: 50px;
}
.two {
  font-size: 20px;
  left: 50px;
  position: relative;

}
.three {
  font-size: 20px;
  left: 45px;
  position: relative;
}

.four {
  font-size: 20px;
  left: 40px;
  position: relative;
}
.five {
  font-size: 30px;
  width: 60%;
  margin-left: 5%
}

.registerbtn {
  font-size: 30px;
}
.registerbtn:hover {
  background-color: green;
}
.size{
  width: 60%;
  position: relative;
  left: 20px;
}
.size-2{
  width: 90%;
  position: relative;
 
  
}
.mysql{
  background-color: #eaa517;
  height: 650px;
  margin-left: -33%;
  margin-top: 70%;
  width: 120%;
 box-shadow: -29px -34px 21px black;
 animation-name: colorchange;
 animation-duration: 10s;
 animation-iteration-count: infinite;
}
@keyframes colorchange{
 
  25%{
    background-color: #1de844;
  }
  
}
.mysql h1{
  font-size: 40px;
  text-align: center;
  text-shadow: 20px 10px 15px white;
  text-decoration: underline white;
  animation-name: spacing;
  animation-duration: 5s;
 animation-iteration-count: infinite;
}
@keyframes spacing{
  0%{
    color: white;
  }
  25%{
    color: blue;
    letter-spacing: 10px;

  }
  75%{
    color: pink
  }

}

.mysql p{
  font-size: 25px;
  text-decoration: underline;
  text-align: center;
  color: white;
  text-shadow: 10px 5px 7px black;
}
.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;

  }
  .facebook:hover{
    background-color: lightgray;
    opacity: 0.7;
  }
  .insta:hover{
    background-color: lightgray;
    opacity: 0.3;
  }
  .Twitter:hover{
    background-color: lightgray;
    opacity: 0.3;
  }
  .facebook img{
    height: 70px;
    width: 70px;
    
 
  }
 

@media  (max-width: 1000px){
  
 
  
  .container {
    margin-left: 10px;
    height: 1130px;
    width: 120%

  }
  .container p{
    font-size: 30px;
  }
  .one {
    font-size: 23px;
    margin-left: 3%;


  
  }
  .two {
    font-size: 23px;
    margin-left: 2%;
    
    
  }
  .three {
    font-size: 23px;
    margin-left: 1%;
    
  }
  .four {
    font-size: 23px;
    margin-left: 0.7%;
    
  }
  .five{
    font-size: 25px;
    width: 30%;
    margin-left: 5%;
  }
  .mysql{
    margin-top: 300%;
    width: 130%;
  }
  



  
   
  
  .wwpp {
    font-size: 25px;
  }
  .size{
    width: 77%;
    text-align: left;

   
  }
  .registerbtn{
    font-size: 15px;

  }
  .uppicture{
  
  width: 50%; 

}
.downpicture{
  width: 50%;
  height: auto;


}
 

}


/*sitereport*/
.first-site{
  background-color: white;
  width: 100%;
  height: auto;
  overflow: hidden;
 
}
.assigsment-1{
  height: 70px;
  width: 100%;
  background-color: #1c537f;
  text-align: center;

}
.assigsment-1 h1{
  position: relative;
 top: 20px;
}
.description{
  background-color: lightgray;
  width: 86%;

  height: auto;
  margin: 7%;
  border: 5px solid black;
  
 

}
.description h2{
   background-color: gray;
  margin-left: 2%;
 


 
}
.description p{ 
  margin-left: 5%;

 }
.screenshot{
  height: 700px;
  width: 100%;
 

   display: grid;

grid-template-columns:  auto auto;
  justify-content: space-around;

 }
 .screenshot-1{


 height: 300px;
 width: 500px;
  background-color: blue;

  

 }
  .screenshot-1 img{


 height: 300px;
 width: 500px}
 .chri{
  margin: 5%;
  height: auto;
 
  width: 90%;
  background-color: lightgray;
  border: 10px solid blue;
 }
 .chri h4{
  
  font-size: 23px;
  text-align: center;
  background-color: darkgray;
  height: 50px;
  margin-top: -0%;
 }
 .chri h2{
  margin-left: 5%
 }
 .chri p{
  margin-left: 7%;
  margin-right: 5%;

 }
 .chri h5{
  font-size: 20px;
  margin-left: 5%;
  text-decoration: underline;
 }
 .underline{
  text-decoration: underline;
  font-size: 25px;
  margin-left: 7%;
 }
 .underline p{
  margin: 9% 5% 0 0;
 }
 .github-1{
  background-color: red;
  margin: 5% 15%;
  height: 500px;
  width: 70%;
 }
 .validation{
  width: 90%;
  height: auto;
  border: 7px solid black;
  margin: 5%;

 }
 .validation h1{
  text-align: center;
 }
 .validation-photo{
  display: flex;
  flex-direction: row;
  
  width: 100%;
  justify-content: space-around;
  
 }
 .validation-1{
  height: 400px;
  width: 33%;
 }
 .validation-1 img{
  height: 400px;
  width: 100%;
 }


 .validation-portfolio{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 }
 .validation-portfolio-1{
  height: 400px;
  width: 33%;
 
 }
 .validation-portfolio-1 img{
  height: 400px;
  width: 100%;
 }
 .validation-contact{
  display: flex;
  flex-direction: row;
 
  justify-content: space-around;
 }
 .validation-contact-1{
  height: 400px;
  width: 33%;
  background-color: black;
 }
 .validation-cv{
  display: flex;
  flex-direction: row;
 
  justify-content: space-around;
 }
 .validation-cv-1{
  height: 400px;
  width: 33%;
  background-color: black;

 }
 .validation-cv-1 img{
  height: 400px;
  width: 100%;

 }
 .validation-sitereport{
  display: flex;
  flex-direction: row;
 
  justify-content: space-around;
 }
 .validation-sitereport-1{
  height: 400px;
  width: 33%;
  background-color: black;
 }
 .reference{
  height: auto;
  width: 90%;
  margin: 5%;
  border: 8px solid green;
  background-color: lightgray;
  
  

 }
 .reference-table{
  display: grid;
  grid-template-columns: 50% 50%;


 


 }
 .reference h1{
  text-align: center;
  background-color: gray;
  margin-top: -0%;

 }

 .reference-1{
  background-color: #4d4dd0;
  height: auto;
  margin: 5%;

 }
 .heading h1{
  background-color: #d66e6e;
  height: 50px;
 }
 .showing-issues{
  height: auto;
  width: 90%;
  margin: 5%;
  border: 7px solid black;
 }




 @media (max-width: 1000px){
  .screenshot-1{
    height: 250px;
    width: 350px;
  }
   .screenshot-1 img{
    height: 250px;
    width: 350px;
  }
  
  .description{
    font-size: 20px;
  }
  .chri h4{
    font-size: 35px;
  }
 }
